body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f0f0f0;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card form {
  display: flex;
  flex-direction: column;
}

.card label {
  margin-bottom: 10px;
}

.card input[type="email"],
.card input[type="password"],
.card button[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.card button[type="submit"]:hover {
  background-color: #0056b3;
}

#render {
  margin-top: 20px;
  display: none; /* Inicialmente oculto */
}

.alert {
  display: block; /* Mostrar cuando hay un error */
  padding: 10px;
  background-color: #f8d7da; /* Color de fondo rojo claro */
  border: 1px solid #f5c6cb; /* Borde rojo */
  color: #721c24; /* Texto rojo oscuro */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 10px; /* Espacio superior */
}